{% extends "layout.html" %}

{% block main_menu %}
    {{ super() }}
    {% include 'gal_menu.html' %}
{% endblock %}

{% block content %}
<style>
        .quiz_form{
        height: 200px;
    }
</style>
<article>
    <div class="quizes quiz_form">
        <div class="quiz-row quiz-hrow">
            <div class="quiz-col">№</div>
            <div class="quiz-col">Название</div>
            <div class="quiz-col">Сколько вопросов</div>
        </div>
        {% for q in quizes %}
        <a href="/quiz_edit/{{q.id}}">
            <div class="quiz-row">
                <div class="quiz-col">{{ loop.index+1 }}</div>
                <div class="quiz-col">{{ q.name }}</div>
                <div class="quiz-col">{{ len(q.question) }}</div>
            </div>
        </a>
        {% endfor %}
    </div>

    {% include 'modal_add_gallery.html' %}

<div class="questions quiz_form">
    {% include 'form_questions_tab.html' %}
</div>
    {% include 'modal_add_painting.html' %}

</article>
{% endblock %}