{% extends 'layout.html' %}

{% block content %}
<article>
    <h2>Горизонт</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium commodi quos voluptas odit vitae fugiat voluptatibus impedit provident atque est, necessitatibus temporibus ex perferendis explicabo voluptatem nesciunt praesentium id voluptate.
<div class="flex-container">
    <div class="flex-item">Элемент A</div>
    <div class="flex-item">Элемент B</div>
    <div class="flex-item">Элемент C</div>
</div>
</article>
{% endblock %}
