<style>

</style>

{% extends "layout.html" %}

{% block main_menu %}
<nav>
{{ super() }}
{% include 'gal_menu.html' %}
</nav>
{% endblock %}



{% block content %}
<article>

    <h2>{{question.question}}</h2>

    <form action="/painting/" method="post">
        <img src="{{ image }}">
        <p></p>
        <h5 style="text-align: right;">{{ desc }}</h5>
        <br>
        <label for="ans1"></label>
        {% for answer in answers%}
        <div class="anwer_row">
            <input type="radio" name="ans_text" id = 'radio{{loop.index}}' value="{{answer}}">
            <label for="radio{{ loop.index }}">{{ answer }}</label>
        </div>
        {% endfor %}
        <br>
        <input class="button" type="submit" style="border-radius: 2;" value="Смотреть дальше">
        <input class="button" type="submit" style="border-radius: 2;" value="Назад">

    </form>


</article>

{% endblock %}