{% extends 'main/layout.html' %}

{% block content %}

<article>
    <section>

        <h5>Who We Are</h5>
        <p>We are a group of passionate developers dedicated to building amazing things!</p>
        <p>This website is a demonstration of our skills and a platform for sharing knowledge.</p>
    </section>

    <section>
        <h5>Our Mission</h5>
        <p>Our mission is to make the web a better place by creating innovative and user-friendly applications.</p>
    </section>
</article>

{% endblock %}