{% extends 'main/layout.html' %}

{% block title %} {{title}} {% endblock %}

{#% block content_head %#}{#% endblock %#}

{% block content %}

<style>
    .gallery {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
    }

    .gallery img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        transition: box-shadow 1s ease;
        object-fit: cover;
        opacity: 0.7;
        /* Начальная непрозрачность */
        transition: opacity 0.9s ease-in-out;
        /* Анимация непрозрачности */
    }

    .gallery img.fade-in {
        opacity: 0.9;
        /* Конечная непрозрачность */
    }

    .gallery img:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        opacity: 1;

    }
</style>

<article>
<div class="article">

    <div class="gallery">
        {% for fox in foxes %}
        <img src="{{fox}}">
        {% endfor %}
    </div>

    <script>
        const images = document.querySelectorAll('img');
        images.forEach(img => {
            img.addEventListener('load', () => {
                img.classList.add('fade-in');
            });
        });
    </script>

</div>
</article>



{% endblock %}