<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Flexbox Template</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header>
        <!--p class="note">header</p-->
        <h1>
        {% block title %}
        Welcome to Django Main app
        {% endblock title %}
        </h1>
        <h3>{% block content_head %}{% endblock content_head %}</h3>

    </header>
    <main>
        <!--p class="note floating-text">main</p-->

        <!-- MAIN CONTENT HERE -->

        <article>
        {% block content %}
        {% endblock %}
        </article>

        <!---->
        <nav>
        {% block main_menu %}
            <!--p class="note">navigation</p-->
            <a href="/">Главная</a>
            <a href="/duck/">Утка</a>
            <a href="/fox/1/" id="fox_link">Лиса</a>
            <a href="{% url 'students' %}">Студенты</a>
            <a href="{% url 'courses' %}">Курсы</a>
            <a href="{% url 'grades' %}">Оценки</a>
            <a href="/admin">Админка</a>
            <a href="/login">Логин</a>
            <a href="/about">About</a>
       {% endblock %}
        </nav>

        <aside>
            <!--p class="note">sidebar</p-->
            <div class="flex-container">
                <div>
                    <img class="flex-img" src="/static/pic/cat.jpg" alt="Cat" width=50
                        height="50" style="border-radius: 50%; align-content: center;">
                </div>
            </div>
        </aside>
    </main>
    <footer>
        <!--p class="note">footer</p-->
        <h5><small>© 2023 Мое Django Приложение</small></h5>
    </footer>

    <script>
        // Рандомизация перехода на страницу Лиса (меняет количество лис)

        // Получаем элемент ссылки
        const fox_link = document.getElementById('fox_link');

        function getRandomNumber(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        function makeLink() {
            // Генерируем случайное число
            const randomNumber = getRandomNumber(1, 10);
            // Заменяем /1/ на случайное число
            fox_link.href = '/fox/' + randomNumber + '/';
            //href.replace('/d+/', '/'+randomNumber+'/');
        }
        // Добавляем обработчик события клика
        fox_link.addEventListener('mouseover', function(event) {
            makeLink();
        });
    </script>

</body>

</html>