<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* # CSS */
        body{
            background-color: rgba(107, 185, 76, 0.444);
            /* background-image: url(); */
        }

        a{
            padding: 5px;
            border: 5px solid;
            border-color: rgba(79, 61, 156, 0.897);
            _margin: 40px;
            border-radius: 41%;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    </style>
</head>
<body>
    <p style="align-self: center; color: aliceblue;">
        <a href="duck/">Утка</a>
        <a href="fox/1/">Лиса</a>
    </p>
    <!-- <hr color="green"> -->
    <br>
    <img src="https:\/\/randomfox.ca\/images\/13.jpg" alt="123" width="100" style="border-radius: 50%;">

</body>
<script>


</script>

</html>

