{% extends 'layout.html' %}

{% block content %}

<article>
    <p class="note">article</p>

    <h1>Ducky Fox WebApp </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia omnis cum corrupti reiciendis soluta modi,
        provident aperiam ullam nemo quas distinctio, dicta doloremque, temporibus illo repudiandae labore. Id, facilis
        ullam?
    </p>

    <div class="flex-item">Какой-то флекс 1</div>
    <div class="flex-item">Какой-то флекс 2</div>
    <div class="flex-item">Какой-то флекс 3</div>

</article>
{% endblock %}