<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* # CSS */
        body{
            background-color: rgba(221, 177, 237, 0.444);
            /* background-image: url(); */            
        }

        a{
            
            padding: 10px;
            border: 1px solid black;
            margin: 50px;
        }
    </style>
</head>
<body>    
    <p>
        <a href="sheet1/">страница1</a>
        <a href="/sheet2/">страница2</a>
    </p>
    <p> Посещений {{n}} </p>
    <br>
    <img src="https:\/\/randomfox.ca\/images\/113.jpg" alt="123" width="200">
    
</body>
<script>


</script>

</html>

